@import url(common.scss);
$main-color:#000000;
$cube-color:#FFEF00;
$main-background: #ffffff;

$title-font:'Syncopate', sans-serif;
$main-font:'Black Han Sans', sans-serif;
$sub-font: 'Roboto', sans-serif;

.cj_component{
   width: 100%;
   height: 100vh;
   position: relative;
   //background: rgba(255, 0, 0, 0.206);
   overflow:hidden;
  .cj_compo_mokup{
    background: url(../img/cjcompo.png)no-repeat 0 0;
    width: 750px;height: 680px;
    background-size: contain;
    margin: 130px auto 0;
  }
  .cj_back{
    z-index: -1;
    position: absolute;top: 25%;left: 0;
    p{font-family: $title-font;font-size: 210px;font-weight: bold;
      color: #222222;
      &:nth-of-type(1){
        position: absolute;top: 0;left: 0;
      }
      &:nth-of-type(2){
        position: absolute;top: 180px;left: 150px;
      }
    }
  }

  .cj_color{
    // position: absolute;bottom:50px;left:50px;
    span{z-index: -10;
      border-radius: 50%;display: inline-block;background: linear-gradient(0deg, rgba(255,255,255,1) 9%, rgba(232,228,255,1) 100%);
        box-shadow: 12px 12px 10px #ececec;
      &:nth-of-type(1){
        position: absolute;top:90px;left:50px;
        width: 600px;height: 600px;
      }
      &:nth-of-type(2){
        position: absolute;bottom:50px;left:360px;
        width: 350px;height: 350px;
      }
      &:nth-of-type(3){
        z-index: -3;
        position: absolute;top:50px;right:400px;
        width: 300px;height: 300px;
      }
      &:nth-of-type(4){
        position: absolute;bottom:20px;right:200px;
        width: 320px;height: 320px;
      }
      &:nth-of-type(5){
        position: absolute;top:50px;right:240px;
        width: 200px;height:200px;
      }
//       &:nth-of-type(6){
//  position: absolute;top:380px;right:420px;
//         width: 300px;height: 300px;
//       }
    }
  }

  .cj_compo_button{
    position: relative;top: -80px;
    display: flex;justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    a{text-decoration: none;}
    button{
      cursor: pointer;
      background: #fff;border: 1px solid #000;border-radius: 50px;padding: 15px 0px;font-size: 25px;font-family: 
      $title-font;
      width: 250px;
      display: flex;align-items: center;justify-content: center;
      transition: background 1s ease-in-out; 
      &:hover {
        background: linear-gradient(90deg, rgba(232,228,255,1) 0%, rgba(139,19,255,1) 100%);
        background-size: 400% 400%; // 배경색 변화 효과를 주기 위해 배경 크기 조정
        animation: cjcompo1 2s ease-in-out infinite; // 배경색 변화를 무한 반복하기 위해 애니메이션 추가
        color: #fff;font-weight: bold;
        box-sizing: border-box;
        border: 1px solid #fff;
      }
    }
    @keyframes cjcompo1 {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}